@media all {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .content p {
    line-height: inherit;
  }
  .content > :last-child {
    margin: 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }
  .padding-top-60 {
    padding-top: 3.75rem;
  }
  .padding-bottom-65 {
    padding-bottom: 4.0625rem;
  }
  .margin-top-0 {
    margin-top: 0;
  }
  .margin-bottom-90 {
    margin-bottom: 5.625rem;
  }
  a.cta-button {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
    border: 2px solid #000000;
    text-align: center;
    background: #000000;
    border-radius: 10px;
    padding: 15px 45px;
    text-decoration: none !important;
    float: left;
  }
  a.cta-button:hover {
    background: #7662f2;
    border-color: #7662f2;
    color: #fff;
  }
  a.cta-button.secondary {
    color: #000000;
    border: 2px solid #000000;
    background: none;
  }
  a.cta-button.secondary:hover {
    background: #000000;
    color: #ffffff;
  }
  section.hero-banner.hero-style-homepage {
    position: relative;
  }
  section.hero-banner.hero-style-homepage .container {
    position: relative;
  }
  section.hero-banner.hero-style-homepage .container:before {
    content: "";
    position: absolute;
    left: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 60px;
    width: 9px;
    background: #ea1e63;
  }
  section.hero-banner.hero-style-homepage .container:after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 60px;
    width: 9px;
    background: #ffc108;
  }
  section.hero-banner.hero-style-homepage .inner-content-homepage-outer {
    padding: 76px 0px 95px 0px;
  }
  section.hero-banner.hero-style-homepage .inner-content-homepage-outer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 9px;
    background: #00bcd5;
  }
  section.hero-banner.hero-style-homepage .inner-content-homepage-outer:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 9px;
    background: #fc7e15;
  }
  section.hero-banner.hero-style-homepage .inner-content-homepage-hero {
    margin-bottom: calc(100% / 11.1);
  }
  section.hero-banner.hero-style-homepage .inner-content-homepage-hero h1 {
    font-weight: 600;
    font-size: 62px;
    line-height: 1.15;
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    color: #000;
  }
  section.hero-banner.hero-style-homepage .logo-side-container {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  section.hero-banner.hero-style-homepage
    .logo-side-container:hover
    .content
    p {
    color: #000;
  }
  section.hero-banner.hero-style-homepage .logo-side-container .logo-block {
    float: left;
    width: 50px;
    margin: 0 10px 0 0;
  }
  section.hero-banner.hero-style-homepage .logo-side-container .content {
    float: left;
    font-weight: 700;
    color: #00008f;
    font-size: 14px;
    line-height: 18px;
    margin: 7px 0;
  }
  section.hero-banner.hero-style-homepage .logo-side-container .content p {
    color: #00008f;
  }
  @media only screen and (max-width: 767px) {
    .container {
      width: 100%;
      max-width: 384px;
    }
    section.hero-banner.hero-style-homepage .container:after,
    section.hero-banner.hero-style-homepage .container:before {
      display: none;
    }
    section.hero-banner.hero-style-homepage .inner-content-homepage-outer {
      padding: 0;
    }
    section.hero-banner.hero-style-homepage .inner-content-homepage-outer:after,
    section.hero-banner.hero-style-homepage
      .inner-content-homepage-outer:before {
      display: none;
    }
    section.hero-banner.hero-style-homepage .inner-content-homepage-hero {
      margin-bottom: 16px;
    }
    section.hero-banner.hero-style-homepage .inner-content-homepage-hero h1 {
      font-size: 24px !important;
    }
    section.hero-banner.hero-style-homepage .logo-side-container {
      position: relative;
      right: 0;
      bottom: 0;
      display: table;
      float: none;
      margin: 20px auto 0;
    }
    .padding-top-60 {
      padding-top: 2.5rem;
    }
    .padding-bottom-65 {
      padding-bottom: 2.70833rem;
    }
    .margin-bottom-90 {
      margin-bottom: 3.75rem;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
      width: 100%;
      max-width: 540px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 100%;
      max-width: 720px;
    }
    section.hero-banner.hero-style-homepage .inner-content-homepage-outer {
      padding: 76px 40px 95px 40px;
    }
    section.hero-banner.hero-style-homepage
      .inner-content-homepage-outer
      .inner-content-homepage-hero
      h1 {
      font-size: 42px;
      line-height: 52px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
      width: 100%;
      max-width: 960px;
    }
    section.hero-banner.hero-style-homepage .inner-content-homepage-hero h1 {
      font-size: 52px;
      line-height: 62px;
    }
  }
}

@media all {
  .inner-content-homepage-outer .buttons-container a.cta-button {
    margin: 0 40px 0 0;
  }
  .inner-content-homepage-outer .buttons-container a.cta-button:last-of-type {
    margin: 0;
  }
  .inner-content-homepage-outer
    .buttons-container
    a.cta-button:not(.secondary) {
    background: #7662f2;
    border-color: #7662f2;
  }
  .inner-content-homepage-outer
    .buttons-container
    a.cta-button:not(.secondary):hover {
    background: #000;
    border-color: #000;
  }
  .inner-content-homepage-outer .buttons-container a.cta-button.secondary {
    border-color: #7662f2;
    color: #7662f2;
    background: none;
  }
  .inner-content-homepage-outer
    .buttons-container
    a.cta-button.secondary:hover {
    background: #000;
    border-color: #000;
    color: #fff;
  }
  section.hero-banner.hero-style-homepage .logo-side-container .logo-block img {
    width: 100%;
    height: auto;
  }
  @media only screen and (max-width: 767px) {
    .inner-content-homepage-outer .buttons-container {
      display: block !important;
    }
    .inner-content-homepage-outer .buttons-container a.cta-button {
      width: 100%;
      margin: 0 0 15px 0;
    }
    .inner-content-homepage-outer .buttons-container a.cta-button:last-of-type {
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  section.hero-banner {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  section.hero-banner.hero-style-homepage .inner-content-homepage-outer {
    width: 100vw;
    height: 76vh;
    padding-top: 76px;
  }
}
